// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-primary: mat-palette($mat-indigo);
$front-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$front-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-theme: mat-light-theme( ( color: ( primary: $front-primary, accent: $front-accent, warn: $front-warn, ), ));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($front-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: #435ebe;
}

.btn .badge {
    border-radius: 50%;
    margin-left: 5px;
}

.btn .badge.bg-transparent {
    background-color: hsla(0, 0%, 100%, 0.25) !important;
    color: #fff;
}

.btn i,
.btn svg {
    width: 16px;
    height: 16px;
}

.btn.icon {
    padding: 0.4rem 0.6rem;
}

.btn.icon svg {
    width: 16px;
    height: 16px;
}

.btn.icon.icon-left svg {
    margin-right: 3px;
}

.btn.icon.icon-right svg {
    margin-left: 3px;
}

.btn.btn-outline-white {
    color: #fff;
    border-color: #fff;
}

.btn.btn-outline-white:hover {
    color: #333;
    background-color: #fff;
}

.btn.btn-light-primary {
    background-color: #ebf3ff;
    color: #002152;
}

.btn.btn-light-secondary {
    background-color: #e6eaee;
    color: #181e24;
}

.btn.btn-light-success {
    background-color: #d2ffe8;
    color: #00391c;
}

.btn.btn-light-danger {
    background-color: #ffdede;
    color: #450000;
}

.btn.btn-light-warning {
    background-color: #fffdd8;
    color: #3f3c00;
}

.btn.btn-light-info {
    background-color: #e6fdff;
    color: #00474d;
}

.btn.btn-danger,
.btn.btn-info,
.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-success,
.btn.btn-warning {
    color: #fff;
}

.btn-primary {
    background-color: #4778ff;
    border-color: #4778ff;
}

.btn.btn-light {
    color: #607080;
}

.btn.btn-dark {
    color: #fff;
}

.btn-block {
    width: 100%;
}

.btn-group:not(.dropdown) .btn:not([class*="btn-"]) {
    border: 1px solid #dfe3e7;
}

.btn-group>.btn {
    border-radius: 0.267rem;
}

.buttons .btn {
    margin: 0 10px 10px 0;
}

.card {
    margin-bottom: 2.2rem;
    border: none;
}

.card.card-statistic {
    box-shadow: 1px 2px 5px rgba(47, 170, 244, 0.5);
    background: linear-gradient(180deg, #25a6f1, #54b9ff);
}

.card.card-statistic .card-title {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 5px;
}

.card.card-statistic .card-right p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0;
}

.card.card-statistic .card-right span.green {
    color: #6fff6f;
}

.card.card-statistic .card-right span.red {
    color: #ff7979;
}

.card.card-statistic .chart-wrapper {
    height: 100px;
}

.card .card-header {
    border: none;
}

.card .card-header h4 {
    font-size: 1.2rem;
    font-weight: 700;
}

.card .card-header~.card-body {
    padding-top: 0;
}

.card .card-content {
    position: relative;
}

.card .card-title {
    font-size: 1.2rem;
}

.card .card-body {
    padding: 1.5rem;
}

.card .card-heading {
    color: #555;
    font-size: 1.5rem;
}

.card .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.card .card-img-overlay p {
    color: #eee;
}

.card .card-img-overlay .card-title {
    color: #fff;
}

.pricing .card {
    box-shadow: none;
    border-right: 1px solid #e9ecef;
    box-shadow: 0 10px 10px #e9ecef;
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 0.7rem;
}

.form-group label {
    color: rgba(35, 28, 99, 0.7);
    font-weight: 600;
}

.form-group small {
    font-size: 0.7rem;
}

.form-group.with-title {
    position: relative;
}

.form-group.with-title label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 0.6rem;
    background-color: #e9ecef;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group.with-title .form-control,
.form-group.with-title dataTable-input {
    padding-top: 2rem;
}

.form-group.with-title .form-control:focus~label,
.form-group.with-title dataTable-input:focus~label {
    border-left: 1px solid #435ebe;
    border-top: 1px solid #435ebe;
    border-right: 1px solid #435ebe;
}

.form-group[class*="has-icon-"].has-icon-left .form-control {
    padding-left: 2.5rem;
}

.form-group[class*="has-icon-"].has-icon-left .form-control-icon {
    left: 0;
}

.form-group[class*="has-icon-"].has-icon-right .form-control {
    padding-right: 2.5rem;
}

.form-group[class*="has-icon-"].has-icon-right .form-control-icon {
    right: 0;
}

.form-group[class*="has-icon-"] .form-control:focus~.form-control-icon i,
.form-group[class*="has-icon-"] .form-control:focus~.form-control-icon svg {
    color: #5a8dee;
}

.form-group[class*="has-icon-"] .form-control.form-control-xl {
    padding-left: 3rem;
}

.form-group[class*="has-icon-"] .form-control.form-control-xl~.form-control-icon i {
    font-size: 1.6rem;
}

.form-group[class*="has-icon-"] .form-control.form-control-xl~.form-control-icon i:before {
    color: #a6a8aa;
}

.form-group[class*="has-icon-"] .form-control-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0.6rem;
}

.form-group[class*="has-icon-"] .form-control-icon i,
.form-group[class*="has-icon-"] .form-control-icon svg {
    width: 1.2rem;
    color: #6c757d;
    font-size: 1.2rem;
}

.form-group[class*="has-icon-"] .form-control-icon i:before,
.form-group[class*="has-icon-"] .form-control-icon svg:before {
    vertical-align: sub;
}

.form-control.form-control-xl {
    padding: 0.85rem 1rem;
    font-size: 1.2rem;
}

.form-check .form-check-input[class*="bg-"] {
    border: 0;
}

.form-check .form-check-input:focus {
    box-shadow: none;
}

.form-check .form-check-input.form-check-primary {
    background-color: #4778ff;
    border-color: #4778ff;
}

.form-check .form-check-input.form-check-primary:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-primary.form-check-glow {
    box-shadow: 0 0 5px #697ecb;
}

.form-check .form-check-input.form-check-primary.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-check .form-check-input.form-check-secondary:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-secondary.form-check-glow {
    box-shadow: 0 0 5px #868e96;
}

.form-check .form-check-input.form-check-secondary.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-success {
    background-color: #198754;
    border-color: #198754;
}

.form-check .form-check-input.form-check-success:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-success.form-check-glow {
    box-shadow: 0 0 5px #21b26f;
}

.form-check .form-check-input.form-check-success.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-info {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.form-check .form-check-input.form-check-info:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-info.form-check-glow {
    box-shadow: 0 0 5px #3cd5f4;
}

.form-check .form-check-input.form-check-info.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.form-check .form-check-input.form-check-warning:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-warning.form-check-glow {
    box-shadow: 0 0 5px #ffce3a;
}

.form-check .form-check-input.form-check-warning.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-check .form-check-input.form-check-danger:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-danger.form-check-glow {
    box-shadow: 0 0 5px #e4606d;
}

.form-check .form-check-input.form-check-danger.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.form-check .form-check-input.form-check-light:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-light.form-check-glow {
    box-shadow: 0 0 5px #fff;
}

.form-check .form-check-input.form-check-light.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-dark {
    background-color: #212529;
    border-color: #212529;
}

.form-check .form-check-input.form-check-dark:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-dark.form-check-glow {
    box-shadow: 0 0 5px #383f45;
}

.form-check .form-check-input.form-check-dark.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check.form-check-sm .form-check-input {
    width: 0.9rem;
    height: 0.9rem;
    margin-top: 0.3em;
}

.form-check.form-check-sm label {
    font-size: 0.7rem;
}

.form-check.form-check-lg .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.3em;
}

.form-check.form-check-lg label {
    font-size: 1rem;
}

.form-check.form-check-primary .form-check-input {
    background-color: #435ebe;
    border-color: #435ebe;
}

.form-check.form-check-secondary .form-check-input {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-check.form-check-success .form-check-input {
    background-color: #198754;
    border-color: #198754;
}

.form-check.form-check-info .form-check-input {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.form-check.form-check-warning .form-check-input {
    background-color: #ffc107;
    border-color: #ffc107;
}

.form-check.form-check-danger .form-check-input {
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-check.form-check-light .form-check-input {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.form-check.form-check-dark .form-check-input {
    background-color: #212529;
    border-color: #212529;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}